<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">H<small class="sub-nav-title"> Great Movies</small></a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/">Movies<span class="sr-only">(current)</span></a>
    </div>
    <div class="navbar-nav ml-auto">
        <a class="nav-link nav-item" routerLink="/login" aria-haspopup="true" aria-expanded="false">Login</a>
    </div>
  </div>
</nav>
